#!/bin/bash

set -x
fqdn_extern=$(sed -n 's/^oidc\/konnectd\/issuer_identifier: \(.*\)/\1/p' /etc/univention/base.conf)
dyn_registration="no"
dyn_registration_from_config=$(sed -n 's/^oidc\/konnectd\/allow_dynamic_client_registration: \(.*\)/\1/p' /etc/univention/base.conf)
[ "$dyn_registration_from_config" = "true" ] && dyn_registration="yes"

test -n "$fqdn_extern" && sed -i "s|^.*oidc_issuer_identifier.*$|oidc_issuer_identifier=${fqdn_extern}|g" /etc/kopano/konnectd.cfg
test -n "$dyn_registration" && sed -i "s/^.*allow_dynamic_client_registration.*$/allow_dynamic_client_registration=${dyn_registration}/g" /etc/kopano/konnectd.cfg


service docker-app-openid-connect-provider restart
